/* src/styles/InternetArtPage.css */

.internet-art-page {
    padding: 20px;
    text-align: center;
    background-color: #fff;
   
  
   
  }
  
  .internet-art-page h1 {
    font-size: 2rem;
   
  }