
/* Container for the navbar */
.navbar-container {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  
}

/* Logo text */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Times New Roman', serif;
  cursor: pointer; /* Change cursor to pointer for logo */
}

/* Button to toggle the dropdown menu */
.menu-button {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

/* Menu icon styles */
.menu-icon {
  font-size: 1.5rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-button {
    align-self: flex-end;
  }
}