/* src/components/Person.css */

.person-container {
    position: absolute;
    transition: transform 0.3s ease;
    margin-top: 80px;
  }
  
  .person-image {
    width: 120px;
    height: auto;
    cursor: pointer;
  }
  
  .popup-message {
    display: none;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    white-space: nowrap;
  }
  
  .person-container:hover .popup-message {
    display: block;
  }
  
  .person-container:hover {
    transform: translateY(-10px);
  }